@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Professional dark scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 999px;
}